extends ../layout

block content
  h1 Hi welcome to our new portal! 
  p This portal allows you to post status updates and also view the status updates of other users. 
  p Please go to http://localhost:3000/blog/create to post your status update. In this page you can see the 5 latest status updates posted by our users.
  
  h4= firstStatus
  h4= secondStatus
  h4= thirdStatus
  h4= fourthStatus
  h4= fifthStatus  
  
  
